# VS Code project files
.vscode/

# Target folder (binary stuff)
target/

# Documentation folder, for submission, not for public repo
javadoc/

# Local file for testing
highscore.csv
test_dummy.csv

# Notes for self
notes.txt